volumes/database/data/*
!volumes/database/data/.gitkeep

volumes/nextcloud/apps/*
!volumes/nextcloud/apps/.gitkeep
volumes/nextcloud/config/*
!volumes/nextcloud/config/.gitkeep
volumes/nextcloud/data/*
!volumes/nextcloud/data/.gitkeep
volumes/nextcloud/theme/*
!volumes/nextcloud/theme/.gitkeep
